*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background: chocolate;
    width: 100%;
    height: 100vh;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
}
.app{
    padding: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.app__component{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
.app__component--itme{
    margin-right: 5px;
}
.app__component--input{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 5px;
    width: auto;
}
.app__component--input:focus{
    outline: none;
    border-bottom: 1px solid white;
}
.app__component--output{
    padding: 5px;
    margin-top: 3px;
    width: 168px;
    border-bottom: 1px solid black;
}
.app__btn{
    background:blue;
    padding: 10px 15px;
    outline: none;
    font-size: 15px;
    font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}